[Unit]
Description=Payment Service

[Service]
User=root
WorkingDirectory=/home/roboshop/payment

Environment=CART_HOST="{{ lookup('aws_ssm', 'roboshop.dev.payment.CART_HOST', region='us-east-1' ) }}"
Environment=USER_HOST="{{ lookup('aws_ssm', 'roboshop.dev.payment.USER_HOST', region='us-east-1' ) }}"
Environment=AMQP_HOST="{{ lookup('aws_ssm', 'roboshop.dev.payment.AMQP_HOST', region='us-east-1' ) }}"
Environment=AMQP_USER="{{SECRETS.ROBOSHOP_RABBITMQ_USER}}"
Environment=AMQP_PASS="{{SECRETS.ROBOSHOP_RABBITMQ_PASSWORD}}"

ExecStart=/usr/local/bin/uwsgi --ini payment.ini
ExecStop=/bin/kill -9 $MAINPID
SyslogIdentifier=payment

[Install]
WantedBy=multi-user.target
